<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tonghu.apidemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.tonghu.apidemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.view.PopMenuDemo"
            android:label="Views/Popup Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.view.TakeShootCut"
            android:label="Views/Take Shotcut" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.tonghu.apidemo.view.ClipChild"
            android:label="Views/Clip Child" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.animation.BouncingBall"
            android:label="Animation/BouncingBall" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.animation.AnimationClone"
            android:label="Animation/Clone" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.animation.CustomEvalutor"
            android:label="Animation/CustomEvalutor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.animation.LayoutAnimationByDefault"
            android:label="Animation/Defalut Layout Animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.animation.AnimationEvent"
            android:label="Animation/Event" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tonghu.apidemo.animation.LayoutAnimationHideAndShow"
            android:label="Animation/Hide And Show" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.tonghu.apidemo.animation.LayoutAnimation"
            android:label="Animation/LayoutAnimation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.tonghu.apiidemo.category.APIDEMO" />
            </intent-filter>
        </activity>
    </application>

</manifest>